[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/gen/Desktop/steam.desktop]
row=1
col=1

[65c3d679-ba9a-410d-82e5-823dc4dfd2f6]
row=0
col=0

[60DE-02F3]
row=1
col=0

[tmp]
row=2
col=0

[/]
row=3
col=0

[/home/gen]
row=0
col=1

